@model Entity.Model.MenuEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentMenuId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentMenuId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuDisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SortId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuEntityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
