@model Entity.Model.UserInfoEntity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


        <h4>UserInfoEntity</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LoginName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoginName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoginPwd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoginPwd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RealName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RealName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserInfoEntityId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>



